@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Ray's Pizza was founded in 1701 ad and has been making pizza's rat free since November of 2014.
    Ray founded this glorious pizza empire when he discovered a love for pizza </p>
