@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   12345 Sw Hawthorne<br />
    Portland, OR 97602<br />
    <abbr title="Phone">P:</abbr>
    503.989.8989
</address>