@{
    ViewBag.Title = "Order";
    PizzaStore.ServiceReference1.Service1Client svc = new PizzaStore.ServiceReference1.Service1Client();
    svc.LoadData();

}

<h2>Order</h2>



    <li>
        @{
            for (int i = 0; i < svc.GetPizzaCount(); i++)
            {
                <button>
                    @Html.ActionLink("Order " + svc.GetData(i), "CreatedOrder", "Order")
                </button>
            }
         }
        </li>
d