
@{
    ViewBag.Title = "Checkout";
    PizzaStore.Models.OrderInfo a = (PizzaStore.Models.OrderInfo)ViewData["test"];
}
<br />
<br />
<h3>
    <div>Your Name:  @a.CustomerName </div>
    <div>Your Phone: @a.CustomerPhone </div>
    <div>Your Pizza and Total: @a.PizzaName at $@a.PizzaPrice</div>
</h3>
<div> is this correct? <button onclick="location.href ='/Master/receipt'"> Yes!</button> <button onclick="location.href ='/Master/splash'"> Lance Broke my Order!</button></div>
