
@{
    ViewBag.Title = "Receipt";
    
}

<h2>Receipt</h2>

Thank you for shopping at Ray's Pizza! Sadly Lance ran away with the Pizza Oven. So Fiona is building a new one. Please check back in 6 to 12 months for your pizza.